header {
  display: flex;
  height: 400px;
  background-color: darkgoldenrod;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-image: url("https://www.transparenttextures.com/patterns/dotnoise-light-grey.png");
}