.user-tweet {
  border: solid gray;
  margin-top: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.user-tweet:hover {
  box-shadow: 7px 5px 5px #4d5d91;
}


header {
  display: flex;
  justify-content: space-between;
  padding-top: 0.75em;
  margin-bottom: 0.5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

p {
  border-bottom: solid gray;
}

footer {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  padding-bottom: 0.5em;
}

.icons {
  color: gray
}

.fa-star:hover {
  color: goldenrod
}

.fa-heart:hover {
  color: #9c1e1e
}